<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	
		<div class="container">
			{{#if cartProducts}}
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							
  <table class="table table-shopping-cart">
    <thead>
      <tr>
        <th>Product</th>
        <th></th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each cartProducts}}
      <tr>
        <td>
          <div class="how-itemcart1">
            {{#limit productId.image 1}}
            <img src="admin/assets/img/products/{{this}}" alt="IMG">
            {{/limit}}
          </div>
        </td>
        <td>{{productId.name}}</td>
        <td>{{productId.price}}</td>
        <td>
          <div class="wrap-num-product d-flex">
            <div class="decrement-btn btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" data-product-id="{{productId._id}}">
              <i class="fs-16 zmdi zmdi-minus"></i>
            </div>
            <input disabled class="mtext-104 cl3 txt-center num-product qty" type="text" name="num-product1" value={{qty}}>
            <div class="increment-btn btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" data-product-id="{{productId._id}}">
              <i class="fs-16 zmdi zmdi-plus"></i>
            </div>
          </div>
        </td>
        <td><button class="btn btn-danger"><a style="text-decoration: none; color: #ffff;" href="/deleteCart?id={{productId._id}}">Delete</a></button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

						</div>

						{{!-- <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
									
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Apply coupon
								</div>
							</div>

							<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								Update Cart
							</div>
						</div> --}}
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
							</div>

							<div id="price" class="size-209">
								<span class="mtext-110 cl2">
									{{total}}
								</span>
							</div>
							<div class="flex-w flex-t bor12 p-b-13">
						</div>

						<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							<a style="text-decoration: none; color: aliceblue;" href="/checkout">Proceed to Checkout</a>
							
						</button>
						
					</div>
				</div>
			</div>
		</div>
		{{else}}
		<div style="height: 100vh;">
		<div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <i class="fas fa-shopping-cart icon mb-5" style="font-size: 250px;"></i>
        <h1>Your Cart is Empty</h1>
        <p>Please add some items to your cart before checking out.</p>
        <a class="aTag" href="/shop"><button class="btn btn-shop btn-primary">Shop Now</button></a>
      </div>
    </div>
  </div>

		</div>
		{{/if}}

    
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

$('.increment-btn').click(function(e) {
  e.preventDefault();
  var inputEl = $('.qty');
  var productId = $(this).data('product-id');
  var qty = parseInt(inputEl.val());
  console.log(qty);
  console.log(productId);
   //var maxQty = 
  ////console.log(maxQty); 
  //if (qty < maxQty) {
   qty++;
   // inputEl.val(qty);
    updateCartItem(productId, qty);
  }
);

// decrement button
$('.decrement-btn').click(function(e) {
  e.preventDefault();
  var inputEl = $('.qty');
  var productId = $(this).data('product-id');
  var qty = parseInt(inputEl.val());
  if (qty > '1') {
    qty--;
    inputEl.val(qty);
    updateCartItem(productId, qty);
  }else{

	 inputEl.val('1');
    updateCartItem(productId, '1');

  }
  
});

// function to update cart item quantity using AJAX
      function updateCartItem(productId, qty) {
        $.ajax({
          url: '/updateCartItem',
          type: 'POST',
          data: { productId: productId, qty: qty },
          success: function(data) {
            // update subtotal and  grand total
            console.log(data);
            const productPrice = data.productPrice;
            const newPrice = productPrice * qty;
            $('#price').text(newPrice);
            $('#subtotal').text(data.subtotal);
           // $('#totalart').text(data.grandTotal); 
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
          }
        });
      }
</script>

	