<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="#" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Order Details
			</span>
		</div>
	</div>
		
	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85 w-100">
		<div class="container w-100">
			<div class="row w-100">
				<div class="col-lg-10 col-xl-7 w-100 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Sl.No</th>
									<th class="column-2">Time</th>
									<th class="column-3">Price</th>
									<th class="column-4">Payment</th>
									<th class="column-5"></th>
								</tr>

								{{#each order}}

								<tr class="table_row">
									{{!-- <td class="column-1">
										<div class="how-itemcart1">
											<img src="admin/assets/img/products/{{productId}}" alt="IMG">
										</div>
									</td> --}}
									<td class="column-2 ms-5">{{inc @index}}</td>
											<td>
										{{createdAt}}
									</td>

									{{!-- <td class="column-3">{{products.totalPrice}}</td> --}}
									<td class="column-4">
										{{payment}}
									</td>

									{{#if (eq status "Cancel")}}
									 <td class="column-5"><button disabled class="btn btn-secondary"><a style="text-decoration: none; color: #ffff;">Canceled</a></button></td>
                                    {{else if (eq status "Confirm")}}
									<td><span class="badge bg-label-success me-1">Confirmed</span></td>
                                     {{/if}}

                                    <td class="column-5"><button class="btn btn-primary"><a style="text-decoration: none; color: #ffff;" href="/viewOrder?id={{_id}}">View</a></button></td>

							
														{{!-- <td class="column-5"><input type="text" value={{productId._id}}></td> --}}

								</tr>

								{{/each}}

							
							</table>
						</div>

					
					</div>
				</div>

				
			</div>
		</div>
	</form> 



	