<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="#" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Order Details
			</span>
		</div>
	</div>
		
	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85 w-100">
		<div class="container w-100">
			<div class="row w-100">
				<div class="col-lg-10 col-xl-7 w-100 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Sl.No</th>
									<th class="column-2">Date</th>
									<th class="column-3">Payment</th>
									<th class="column-4">Status</th>
									<th class="column-5"></th>
									<th class="column-6"></th>
									<th class="column-6"></th>

								</tr>

								{{#each order}}

								<tr class="table_row">
									{{!-- <td class="column-1">
										<div class="how-itemcart1">
											<img src="admin/assets/img/products/{{productId}}" alt="IMG">
										</div>
									</td> --}}
									<td class="column-1">{{inc @index}}</td>
									<td class="column-2">
										{{formatNumber createdAt}}
									</td>

									{{!-- <td class="column-3">{{products.totalPrice}}</td> --}}
									<td class="column-3">
										{{payment}}
									</td>

									 {{#if (eq status "Attempted")}}
                                        <td><span class="badge bg-label-primary me-1">Attempted</span></td>
                                        {{else if (eq status "Confirm")}}
                                        
                                      <td><span class="badge bg-label-success me-1">Confirmed</span></td> 
                                        {{else if (eq status "Delivered")}}
                                        <td><span class="badge bg-label-danger me-1">Delivered</span></td>
										 {{else if (eq status "Return")}}
                                        <td><span class="badge bg-label-danger me-1">Return</span></td>
										{{else if (eq status "Build")}}
                                        <td><span class="badge bg-label-danger me-1">BUild</span></td>
                                        {{else}}
                                        <td><span class="badge bg-label-danger me-1"></span></td>
                                        {{/if}}
                                        <td class="column-5"><button class="btn btn-primary"><a style="text-decoration: none; color: #ffff;" href="/viewOrder?id={{_id}}">View</a></button></td>

										{{#if (eq status "Delivered")}}
										<td class="column-6">
											<button class="btn btn-warning"><a class="aTag" href="/returnOrder?id={{_id}}">Return</a></button>
										</td>
										{{else if (eq status "Confirm")}}
										<td class="column-6"></td>
										{{else}}
										<td class="column-7">
											<button class="btn btn-Danger"><a class="aTag" href="/cancelOrder?id={{_id}}">Cancel</a></button>
										</td>
										{{/if}}


								</tr>

								{{/each}}

							
							</table>
						</div>

					
					</div>
				</div>

				
			</div>
		</div>
	</form> 



	